body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.tom {
  height: 200px;
  width: 300px;
}

.logo {
  height: 50px;
}

.main-image {
  height: 700px;
  width: 1200px;
}
